<div
  style="
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <div class="d-flex justify-content-center align-items-center">
    <div
      class="spinner-border text-primary"
      role="status"
      style="width: 5rem; height: 5rem"
    >
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>
