<div class="navbar">
  <nav class="container">
    <div class="logo">
      <h4>
        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
        CQKart
      </h4>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/list-product" id="list-product">product</a>
      </li>
      <li>
        <a href="/admin-dashboard" id="dashboard">dashboard</a>
      </li>

      <li>
        <a href="#">stats</a>
      </li>
      <li>
        <a href="/admin-profile" id="admin-profile">profile</a>
      </li>
      <li>
        <a href="/logout">logout</a>
      </li>
    </ul>

    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>
</div>
