.main-content {
  min-height: 80vh;
  background-color: #999;
}

.flex {
  display: flex;
  justify-content: center;
}

.left-div {
  flex: 1;
  width: 30%;
  border: solid;
}
.right-div {
  flex: 1;
  width: 70%;
  border: solid;
}
